### API keys
# Prepend a '#' to disable the platform at runtime
APIKEY_TELEGRAM=''
# App Bearer Token
APIKEY_TWITTER=''
APIKEY_DISCORD=''

### Discord Specific Parameters
CLIENTID_DISCORD=''
# Comma Separated List of Guild IDs (Server IDs)
GUILDID_DISCORD=''

# OPENAI_ORG is optional
OPENAI_ORG=''
OPENAI_KEY=''

### HD wallet config
WALLET_CHRONIK_URL = 'https://chronik.be.cash/xpi'
WALLET_EXPLORER_URL = 'https://explorer.givelotus.org'

### Transaction Configuration
TX_FEE_RATE=2

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="file:./prisma/dev.db"